<Alte::Layout @layout="layout-top-nav">
  {{! Navbar }}
  <nav class="main-header navbar navbar-expand-md navbar-light navbar-white">
    <div class="container">
      <a href="../../index3.html" class="navbar-brand">
        {{! template-lint-disable no-inline-styles }}
        <img
          src="../../dist/img/AdminLTELogo.png"
          alt="AdminLTE"
          class="brand-image img-circle elevation-3"
          style="opacity: 0.8"
        />
        <span class="brand-text font-weight-light">
          AdminLTE 3
        </span>
      </a>

      <button
        class="navbar-toggler order-1"
        type="button"
        data-toggle="collapse"
        data-target="#navbarCollapse"
        aria-controls="navbarCollapse"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse order-3" id="navbarCollapse">
        {{! Left navbar links }}
        <ul class="navbar-nav">
          <li class="nav-item">
            <a href="index3.html" class="nav-link">
              Home
            </a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">
              Contact
            </a>
          </li>
          <li class="nav-item dropdown">
            <a
              id="dropdownSubMenu1"
              href="#"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
              class="nav-link dropdown-toggle"
            >
              Dropdown
            </a>
            <ul aria-labelledby="dropdownSubMenu1" class="dropdown-menu border-0 shadow">
              <li>
                <a href="#" class="dropdown-item">
                  Some action
                </a>
              </li>
              <li>
                <a href="#" class="dropdown-item">
                  Some other action
                </a>
              </li>

              <li class="dropdown-divider"></li>

              {{! Level two dropdown }}
              <li class="dropdown-submenu dropdown-hover">
                <a
                  id="dropdownSubMenu2"
                  href="#"
                  role="button"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                  class="dropdown-item dropdown-toggle"
                >
                  Hover for action
                </a>
                <ul aria-labelledby="dropdownSubMenu2" class="dropdown-menu border-0 shadow">
                  <li>
                    <a tabindex="-1" href="#" class="dropdown-item">
                      level 2
                    </a>
                  </li>

                  {{! Level three dropdown }}
                  <li class="dropdown-submenu">
                    <a
                      id="dropdownSubMenu3"
                      href="#"
                      role="button"
                      data-toggle="dropdown"
                      aria-haspopup="true"
                      aria-expanded="false"
                      class="dropdown-item dropdown-toggle"
                    >
                      level 2
                    </a>
                    <ul aria-labelledby="dropdownSubMenu3" class="dropdown-menu border-0 shadow">
                      <li>
                        <a href="#" class="dropdown-item">
                          3rd level
                        </a>
                      </li>
                      <li>
                        <a href="#" class="dropdown-item">
                          3rd level
                        </a>
                      </li>
                    </ul>
                  </li>
                  {{! End Level three }}

                  <li>
                    <a href="#" class="dropdown-item">
                      level 2
                    </a>
                  </li>
                  <li>
                    <a href="#" class="dropdown-item">
                      level 2
                    </a>
                  </li>
                </ul>
              </li>
              {{! End Level two }}
            </ul>
          </li>
        </ul>

        {{! SEARCH FORM }}
        <form class="form-inline ml-0 ml-md-3">
          <div class="input-group input-group-sm">
            <input class="form-control form-control-navbar" type="search" placeholder="Search" aria-label="Search" />
            <div class="input-group-append">
              <button class="btn btn-navbar" type="submit">
                <i class="fas fa-search"></i>
              </button>
            </div>
          </div>
        </form>
      </div>

      {{! Right navbar links }}
      <ul class="order-1 order-md-3 navbar-nav navbar-no-expand ml-auto">
        {{! Messages Dropdown Menu }}
        <li class="nav-item dropdown">
          <a class="nav-link" data-toggle="dropdown" href="#">
            <i class="fas fa-comments"></i>
            <span class="badge badge-danger navbar-badge">
              3
            </span>
          </a>
          <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
            <a href="#" class="dropdown-item">
              {{! Message Start }}
              <div class="media">
                <img src="../../dist/img/user1-128x128.jpg" alt="User Avatar" class="img-size-50 mr-3 img-circle" />
                <div class="media-body">
                  <h3 class="dropdown-item-title">
                    Brad Diesel
                    <span class="float-right text-sm text-danger">
                      <i class="fas fa-star"></i>
                    </span>
                  </h3>
                  <p class="text-sm">
                    Call me whenever you can...
                  </p>
                  <p class="text-sm text-muted">
                    <i class="far fa-clock mr-1"></i>
                    4 Hours Ago
                  </p>
                </div>
              </div>
              {{! Message End }}
            </a>
            <div class="dropdown-divider"></div>
            <a href="#" class="dropdown-item">
              {{! Message Start }}
              <div class="media">
                <img src="../../dist/img/user8-128x128.jpg" alt="User Avatar" class="img-size-50 img-circle mr-3" />
                <div class="media-body">
                  <h3 class="dropdown-item-title">
                    John Pierce
                    <span class="float-right text-sm text-muted">
                      <i class="fas fa-star"></i>
                    </span>
                  </h3>
                  <p class="text-sm">
                    I got your message bro
                  </p>
                  <p class="text-sm text-muted">
                    <i class="far fa-clock mr-1"></i>
                    4 Hours Ago
                  </p>
                </div>
              </div>
              {{! Message End }}
            </a>
            <div class="dropdown-divider"></div>
            <a href="#" class="dropdown-item">
              {{! Message Start }}
              <div class="media">
                <img src="../../dist/img/user3-128x128.jpg" alt="User Avatar" class="img-size-50 img-circle mr-3" />
                <div class="media-body">
                  <h3 class="dropdown-item-title">
                    Nora Silvester
                    <span class="float-right text-sm text-warning">
                      <i class="fas fa-star"></i>
                    </span>
                  </h3>
                  <p class="text-sm">
                    The subject goes here
                  </p>
                  <p class="text-sm text-muted">
                    <i class="far fa-clock mr-1"></i>
                    4 Hours Ago
                  </p>
                </div>
              </div>
              {{! Message End }}
            </a>
            <div class="dropdown-divider"></div>
            <a href="#" class="dropdown-item dropdown-footer">
              See All Messages
            </a>
          </div>
        </li>
        {{! Notifications Dropdown Menu }}
        <li class="nav-item dropdown">
          <a class="nav-link" data-toggle="dropdown" href="#">
            <i class="far fa-bell"></i>
            <span class="badge badge-warning navbar-badge">
              15
            </span>
          </a>
          <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
            <span class="dropdown-header">
              15 Notifications
            </span>
            <div class="dropdown-divider"></div>
            <a href="#" class="dropdown-item">
              <i class="fas fa-envelope mr-2"></i>
              4 new messages
              <span class="float-right text-muted text-sm">
                3 mins
              </span>
            </a>
            <div class="dropdown-divider"></div>
            <a href="#" class="dropdown-item">
              <i class="fas fa-users mr-2"></i>
              8 friend requests
              <span class="float-right text-muted text-sm">
                12 hours
              </span>
            </a>
            <div class="dropdown-divider"></div>
            <a href="#" class="dropdown-item">
              <i class="fas fa-file mr-2"></i>
              3 new reports
              <span class="float-right text-muted text-sm">
                2 days
              </span>
            </a>
            <div class="dropdown-divider"></div>
            <a href="#" class="dropdown-item dropdown-footer">
              See All Notifications
            </a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-widget="control-sidebar" data-slide="true" href="#" role="button">
            <i class="fas fa-th-large"></i>
          </a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="content-wrapper">
    <Alte::ContentHeader @container="container">
      <:title>
        Top Navigation <small>Example 3.0</small>
      </:title>
      <:rightContent>
        <Alte::Breadcrumb>
          <Alte::BreadcrumbItem>
            <a href="#">
              Home
            </a>
          </Alte::BreadcrumbItem>
          <Alte::BreadcrumbItem>
            <a href="#">
              Layout
            </a>
          </Alte::BreadcrumbItem>
          <Alte::BreadcrumbItem @active="{{true}}">
            Top Navigation
          </Alte::BreadcrumbItem>
        </Alte::Breadcrumb>
      </:rightContent>
    </Alte::ContentHeader>
  </div>
</Alte::Layout>