<div ...attributes class="card-header {{if this.noBottomBorder " border-bottom-0"}}">
  {{#if @title}}
    <h3 class="card-title {{@titleClasses}}">
      {{#if @titleIcon}}
        {{#if @titleIconPrefix}}
          <FaIcon class="mr-1" @prefix={{@titleIconPrefix}} @icon={{@titleIcon}} />
        {{else}}
          <FaIcon class="mr-1" @icon={{@titleIcon}} />
        {{/if}}
      {{/if}}
      {{@title}}
    </h3>
  {{/if}}
  {{#if @collapsable}}
    <div class="card-tools">
      <BsButton @type="none" @onClick={{@onCollapse}} class="btn-tool">
        {{#if @collapsed}}
          <FaIcon @icon="plus" />
        {{else}}
          <FaIcon @icon="minus" />
        {{/if}}
      </BsButton>
    </div>
  {{/if}}
  {{yield}}
</div>
