{{!-- Navbar --}}
<BsNavbar class="main-header" @backgroundColor="none" @type={{this.type}} as |navbar|>
  <navbar.nav as |nav|>
    <nav.item>
      <BsButton @type=" link" class="border-0 nav-link" {{alte/push-menu}}>
        <FaIcon @icon="bars" />
      </BsButton>
    </nav.item>
    <nav.item>
      <nav.linkTo @route="index3">Home</nav.linkTo>
    </nav.item>
    <nav.item>
      <a href="#" class="nav-link">Contact</a>
    </nav.item>
  </navbar.nav>

  {{!-- SEARCH FORM --}}
  <form class="form-inline ml-3">
    <div class="input-group input-group-sm">
      <input class="form-control form-control-navbar" type="search" placeholder="Search" aria-label="Search" />
      <div class="input-group-append">
        <button class="btn btn-navbar" type="submit">
          <i class="fas fa-search"></i>
        </button>
      </div>
    </div>
  </form>

  <navbar.nav class="ml-auto" as |right-nav|>
    {{!-- Messages Dropdown Menu --}}
    <right-nav.item>
      <BsButton @type="link" class="border-0 nav-link" {{alte/dark-mode enableRemember=true onDarkened=this.darken
        onLightened=this.lighten}}>
        <FaIcon @icon="lightbulb" />
      </BsButton>
    </right-nav.item>
    <li class="nav-item dropdown">
      <a class="nav-link" data-toggle="dropdown" href="#">
        <i class="far fa-comments"></i>
        <span class="badge badge-danger navbar-badge">
          3
        </span>
      </a>
      <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
        <a href="#" class="dropdown-item">
          {{!-- Message Start --}}
          <div class="media">
            {{!-- <img src="dist/img/user1-128x128.jpg" alt="User Avatar" class="img-size-50 mr-3 img-circle" /> --}}
            <svg class="img-size-50 mr-3 img-circle img-fluid" width="128px" height="128px"
              xmlns="http://www.w3.org/2000/svg" role="img" aria-label="User Avatar">
              <title>Placeholder</title>
              <rect width="100%" height="100%" fill="#868e96"></rect><text x="25%" y="50%" fill="#dee2e6"
                dy=".3em">BD</text>
            </svg>
            <div class="media-body">
              <h3 class="dropdown-item-title">
                Brad Diesel
                <span class="float-right text-sm text-danger">
                  <i class="fas fa-star"></i>
                </span>
              </h3>
              <p class="text-sm">
                Call me whenever you can...
              </p>
              <p class="text-sm text-muted">
                <i class="far fa-clock mr-1"></i>
                4 Hours Ago
              </p>
            </div>
          </div>
          {{!-- Message End --}}
        </a>
        <div class="dropdown-divider"></div>
        <a href="#" class="dropdown-item">
          {{!-- Message Start --}}
          <div class="media">
            {{!-- <img src="dist/img/user8-128x128.jpg" alt="User Avatar" class="img-size-50 img-circle mr-3" /> --}}
            <svg class="img-size-50 mr-3 img-circle img-fluid" width="128px" height="128px"
              xmlns="http://www.w3.org/2000/svg" role="img" aria-label="User Avatar">
              <title>Placeholder</title>
              <rect width="100%" height="100%" fill="#868e96"></rect><text x="25%" y="50%" fill="#dee2e6"
                dy=".3em">JP</text>
            </svg>
            <div class="media-body">
              <h3 class="dropdown-item-title">
                John Pierce
                <span class="float-right text-sm text-muted">
                  <i class="fas fa-star"></i>
                </span>
              </h3>
              <p class="text-sm">
                I got your message bro
              </p>
              <p class="text-sm text-muted">
                <i class="far fa-clock mr-1"></i>
                4 Hours Ago
              </p>
            </div>
          </div>
          {{!-- Message End --}}
        </a>
        <div class="dropdown-divider"></div>
        <a href="#" class="dropdown-item">
          {{!-- Message Start --}}
          <div class="media">
            {{!-- <img src="dist/img/user3-128x128.jpg" alt="User Avatar" class="img-size-50 img-circle mr-3" /> --}}
            <svg class="img-size-50 mr-3 img-circle img-fluid" width="128px" height="128px"
              xmlns="http://www.w3.org/2000/svg" role="img" aria-label="User Avatar">
              <title>Placeholder</title>
              <rect width="100%" height="100%" fill="#868e96"></rect><text x="25%" y="50%" fill="#dee2e6"
                dy=".3em">NS</text>
            </svg>
            <div class="media-body">
              <h3 class="dropdown-item-title">
                Nora Silvester
                <span class="float-right text-sm text-warning">
                  <i class="fas fa-star"></i>
                </span>
              </h3>
              <p class="text-sm">
                The subject goes here
              </p>
              <p class="text-sm text-muted">
                <i class="far fa-clock mr-1"></i>
                4 Hours Ago
              </p>
            </div>
          </div>
          {{!-- Message End --}}
        </a>
        <div class="dropdown-divider"></div>
        <a href="#" class="dropdown-item dropdown-footer">
          See All Messages
        </a>
      </div>
    </li>
    {{!-- Notifications Dropdown Menu --}}
    <li class="nav-item dropdown">
      <a class="nav-link" data-toggle="dropdown" href="#">
        <i class="far fa-bell"></i>
        <span class="badge badge-warning navbar-badge">
          15
        </span>
      </a>
      <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
        <span class="dropdown-item dropdown-header">
          15 Notifications
        </span>
        <div class="dropdown-divider"></div>
        <a href="#" class="dropdown-item">
          <i class="fas fa-envelope mr-2"></i>
          4 new messages
          <span class="float-right text-muted text-sm">
            3 mins
          </span>
        </a>
        <div class="dropdown-divider"></div>
        <a href="#" class="dropdown-item">
          <i class="fas fa-users mr-2"></i>
          8 friend requests
          <span class="float-right text-muted text-sm">
            12 hours
          </span>
        </a>
        <div class="dropdown-divider"></div>
        <a href="#" class="dropdown-item">
          <i class="fas fa-file mr-2"></i>
          3 new reports
          <span class="float-right text-muted text-sm">
            2 days
          </span>
        </a>
        <div class="dropdown-divider"></div>
        <a href="#" class="dropdown-item dropdown-footer">
          See All Notifications
        </a>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-widget="control-sidebar" data-slide="true" href="#" role="button">
        <i class="fas fa-th-large"></i>
      </a>
    </li>
  </navbar.nav>
</BsNavbar>
