<Alte::Layout>

  <MainHeader />
  <MainSidebar />

  {{!-- Content Wrapper. Contains page content --}}
  <div class="content-wrapper">
    {{!-- Content Header (Page header) --}}
    <Alte::ContentHeader @title="Dashboard">
      <:rightContent>
        <Alte::Breadcrumb>
          <Alte::BreadcrumbItem><a href="#">Home</a></Alte::BreadcrumbItem>
          <Alte::BreadcrumbItem @active={{true}}>Widgets</Alte::BreadcrumbItem>
        </Alte::Breadcrumb>
      </:rightContent>
    </Alte::ContentHeader>
    <section class="content">
      <div class="container-fluid">
        <h5 class="mb-2">Info Box</h5>
        <div class="row">
          <div class="col-md-3 col-sm-6 col-12">
            <div class="info-box">
              <span class="info-box-icon bg-info"><i class="far fa-envelope"></i></span>

              <div class="info-box-content">
                <span class="info-box-text">Messages</span>
                <span class="info-box-number">1,410</span>
              </div>
              {{!-- /.info-box-content --}}
            </div>
            {{!-- /.info-box --}}
          </div>
          {{!-- /.col --}}
          <div class="col-md-3 col-sm-6 col-12">
            <div class="info-box">
              <span class="info-box-icon bg-success"><i class="far fa-flag"></i></span>

              <div class="info-box-content">
                <span class="info-box-text">Bookmarks</span>
                <span class="info-box-number">410</span>
              </div>
              {{!-- /.info-box-content --}}
            </div>
            {{!-- /.info-box --}}
          </div>
          {{!-- /.col --}}
          <div class="col-md-3 col-sm-6 col-12">
            <div class="info-box">
              <span class="info-box-icon bg-warning"><i class="far fa-copy"></i></span>

              <div class="info-box-content">
                <span class="info-box-text">Uploads</span>
                <span class="info-box-number">13,648</span>
              </div>
              {{!-- /.info-box-content --}}
            </div>
            {{!-- /.info-box --}}
          </div>
          {{!-- /.col --}}
          <div class="col-md-3 col-sm-6 col-12">
            <div class="info-box">
              <span class="info-box-icon bg-danger"><i class="far fa-star"></i></span>

              <div class="info-box-content">
                <span class="info-box-text">Likes</span>
                <span class="info-box-number">93,139</span>
              </div>
              {{!-- /.info-box-content --}}
            </div>
            {{!-- /.info-box --}}
          </div>
          {{!-- /.col --}}
        </div>
        {{!-- /.row --}}

        {{!-- =========================================================== --}}
        <h5 class="mt-4 mb-2">Info Box With <code>bg-*</code></h5>
        <div class="row">
          <div class="col-md-3 col-sm-6 col-12">
            <div class="info-box bg-info">
              <span class="info-box-icon"><i class="far fa-bookmark"></i></span>

              <div class="info-box-content">
                <span class="info-box-text">Bookmarks</span>
                <span class="info-box-number">41,410</span>

                <div class="progress">
                  {{!-- template-lint-disable no-inline-styles --}}
                  <div class="progress-bar" style="width: 70%"></div>
                </div>
                <span class="progress-description">
                  70% Increase in 30 Days
                </span>
              </div>
              {{!-- /.info-box-content --}}
            </div>
            {{!-- /.info-box --}}
          </div>
          {{!-- /.col --}}
          <div class="col-md-3 col-sm-6 col-12">
            <div class="info-box bg-success">
              <span class="info-box-icon"><i class="far fa-thumbs-up"></i></span>

              <div class="info-box-content">
                <span class="info-box-text">Likes</span>
                <span class="info-box-number">41,410</span>

                <div class="progress">
                  {{!-- template-lint-disable no-inline-styles --}}
                  <div class="progress-bar" style="width: 70%"></div>
                </div>
                <span class="progress-description">
                  70% Increase in 30 Days
                </span>
              </div>
              {{!-- /.info-box-content --}}
            </div>
            {{!-- /.info-box --}}
          </div>
          {{!-- /.col --}}
          <div class="col-md-3 col-sm-6 col-12">
            <div class="info-box bg-warning">
              <span class="info-box-icon"><i class="far fa-calendar-alt"></i></span>

              <div class="info-box-content">
                <span class="info-box-text">Events</span>
                <span class="info-box-number">41,410</span>

                <div class="progress">
                  {{!-- template-lint-disable no-inline-styles --}}
                  <div class="progress-bar" style="width: 70%"></div>
                </div>
                <span class="progress-description">
                  70% Increase in 30 Days
                </span>
              </div>
              {{!-- /.info-box-content --}}
            </div>
            {{!-- /.info-box --}}
          </div>
          {{!-- /.col --}}
          <div class="col-md-3 col-sm-6 col-12">
            <div class="info-box bg-danger">
              <span class="info-box-icon"><i class="fas fa-comments"></i></span>

              <div class="info-box-content">
                <span class="info-box-text">Comments</span>
                <span class="info-box-number">41,410</span>

                <div class="progress">
                  {{!-- template-lint-disable no-inline-styles --}}
                  <div class="progress-bar" style="width: 70%"></div>
                </div>
                <span class="progress-description">
                  70% Increase in 30 Days
                </span>
              </div>
              {{!-- /.info-box-content --}}
            </div>
            {{!-- /.info-box --}}
          </div>
          {{!-- /.col --}}
        </div>
        {{!-- /.row --}}

        {{!-- =========================================================== --}}
        <h5 class="mt-4 mb-2">Info Box With <code>bg-gradient-*</code></h5>
        <div class="row">
          <div class="col-md-3 col-sm-6 col-12">
            <div class="info-box bg-gradient-info">
              <span class="info-box-icon"><i class="far fa-bookmark"></i></span>

              <div class="info-box-content">
                <span class="info-box-text">Bookmarks</span>
                <span class="info-box-number">41,410</span>

                <div class="progress">
                  {{!-- template-lint-disable no-inline-styles --}}
                  <div class="progress-bar" style="width: 70%"></div>
                </div>
                <span class="progress-description">
                  70% Increase in 30 Days
                </span>
              </div>
              {{!-- /.info-box-content --}}
            </div>
            {{!-- /.info-box --}}
          </div>
          {{!-- /.col --}}
          <div class="col-md-3 col-sm-6 col-12">
            <div class="info-box bg-gradient-success">
              <span class="info-box-icon"><i class="far fa-thumbs-up"></i></span>

              <div class="info-box-content">
                <span class="info-box-text">Likes</span>
                <span class="info-box-number">41,410</span>

                <div class="progress">
                  {{!-- template-lint-disable no-inline-styles --}}
                  <div class="progress-bar" style="width: 70%"></div>
                </div>
                <span class="progress-description">
                  70% Increase in 30 Days
                </span>
              </div>
              {{!-- /.info-box-content --}}
            </div>
            {{!-- /.info-box --}}
          </div>
          {{!-- /.col --}}
          <div class="col-md-3 col-sm-6 col-12">
            <div class="info-box bg-gradient-warning">
              <span class="info-box-icon"><i class="far fa-calendar-alt"></i></span>

              <div class="info-box-content">
                <span class="info-box-text">Events</span>
                <span class="info-box-number">41,410</span>

                <div class="progress">
                  {{!-- template-lint-disable no-inline-styles --}}
                  <div class="progress-bar" style="width: 70%"></div>
                </div>
                <span class="progress-description">
                  70% Increase in 30 Days
                </span>
              </div>
              {{!-- /.info-box-content --}}
            </div>
            {{!-- /.info-box --}}
          </div>
          {{!-- /.col --}}
          <div class="col-md-3 col-sm-6 col-12">
            <div class="info-box bg-gradient-danger">
              <span class="info-box-icon"><i class="fas fa-comments"></i></span>

              <div class="info-box-content">
                <span class="info-box-text">Comments</span>
                <span class="info-box-number">41,410</span>

                <div class="progress">
                  {{!-- template-lint-disable no-inline-styles --}}
                  <div class="progress-bar" style="width: 70%"></div>
                </div>
                <span class="progress-description">
                  70% Increase in 30 Days
                </span>
              </div>
              {{!-- /.info-box-content --}}
            </div>
            {{!-- /.info-box --}}
          </div>
          {{!-- /.col --}}
        </div>
        {{!-- /.row --}}

        {{!-- =========================================================== --}}

        {{!-- Small Box (Stat card) --}}
        <h5 class="mb-2 mt-4">Small Box</h5>
        <div class="row">
          <div class="col-lg-3 col-6">
            {{!-- small card --}}
            <div class="small-box bg-info">
              <div class="inner">
                <h3>150</h3>

                <p>New Orders</p>
              </div>
              <div class="icon">
                <i class="fas fa-shopping-cart"></i>
              </div>
              <a href="#" class="small-box-footer">
                More info <i class="fas fa-arrow-circle-right"></i>
              </a>
            </div>
          </div>
          {{!-- ./col --}}
          <div class="col-lg-3 col-6">
            {{!-- small card --}}
            <div class="small-box bg-success">
              <div class="inner">
                {{!-- template-lint-disable no-inline-styles --}}
                <h3>53<sup style="font-size: 20px">%</sup></h3>

                <p>Bounce Rate</p>
              </div>
              <div class="icon">
                <i class="ion ion-stats-bars"></i>
              </div>
              <a href="#" class="small-box-footer">
                More info <i class="fas fa-arrow-circle-right"></i>
              </a>
            </div>
          </div>
          {{!-- ./col --}}
          <div class="col-lg-3 col-6">
            {{!-- small card --}}
            <div class="small-box bg-warning">
              <div class="inner">
                <h3>44</h3>

                <p>User Registrations</p>
              </div>
              <div class="icon">
                <i class="fas fa-user-plus"></i>
              </div>
              <a href="#" class="small-box-footer">
                More info <i class="fas fa-arrow-circle-right"></i>
              </a>
            </div>
          </div>
          {{!-- ./col --}}
          <div class="col-lg-3 col-6">
            {{!-- small card --}}
            <div class="small-box bg-danger">
              <div class="inner">
                <h3>65</h3>

                <p>Unique Visitors</p>
              </div>
              <div class="icon">
                <i class="fas fa-chart-pie"></i>
              </div>
              <a href="#" class="small-box-footer">
                More info <i class="fas fa-arrow-circle-right"></i>
              </a>
            </div>
          </div>
          {{!-- ./col --}}
        </div>
        {{!-- /.row --}}

        {{!-- Small Box (Stat card) --}}
        <div class="row">
          <div class="col-lg-3 col-6">
            {{!-- small card --}}
            <div class="small-box bg-info">
              {{!-- template-lint-disable no-inline-styles --}}
              {{!-- Loading (remove the following to stop the loading)--}}
              <div class="overlay">
                <i class="fas fa-3x fa-sync-alt"></i>
              </div>
              {{!-- end loading --}}
              <div class="inner">
                <h3>150</h3>

                <p>New Orders</p>
              </div>
              <div class="icon">
                <i class="fas fa-shopping-cart"></i>
              </div>
              <a href="#" class="small-box-footer">
                More info <i class="fas fa-arrow-circle-right"></i>
              </a>
            </div>
          </div>
          {{!-- ./col --}}
          <div class="col-lg-3 col-6">
            {{!-- small card --}}
            <div class="small-box bg-success">
              {{!-- Loading (remove the following to stop the loading)--}}
              <div class="overlay dark">
                <i class="fas fa-3x fa-sync-alt"></i>
              </div>
              {{!-- end loading --}}
              <div class="inner">
                {{!-- template-lint-disable no-inline-styles --}}
                <h3>53<sup style="font-size: 20px">%</sup></h3>

                <p>Bounce Rate</p>
              </div>
              <div class="icon">
                <i class="ion ion-stats-bars"></i>
              </div>
              <a href="#" class="small-box-footer">
                More info <i class="fas fa-arrow-circle-right"></i>
              </a>
            </div>
          </div>
          {{!-- ./col --}}
        </div>
        {{!-- /.row --}}

        {{!-- =========================================================== --}}
        <h4 class="mb-2 mt-4">Cards</h4>
        <h5 class="mb-2">Abilities</h5>
        <div class="row">
          <div class="col-md-3">
            <Alte::Card @collapsable={{true}} @type="primary" as |card|>
              <card.header @title="Expandable" />
              <card.content>
                <Alte::Card::Body>The body of the card</Alte::Card::Body>
              </card.content>
            </Alte::Card>
          </div>
          {{!-- /.col --}}
          <div class="col-md-3">
            <Alte::Card @collapsable={{true}} @type="success" as |card|>
              <card.header @title="Collapsable" />
              <card.content>
                <Alte::Card::Body>The body of the card</Alte::Card::Body>
              </card.content>
            </Alte::Card>
          </div>
          {{!-- /.col --}}
          <div class="col-md-3">
            <div class="card card-warning">
              <div class="card-header">
                <h3 class="card-title">Removable</h3>

                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-times"></i>
                  </button>
                </div>
                {{!-- /.card-tools --}}
              </div>
              {{!-- /.card-header --}}
              <div class="card-body">
                The body of the card
              </div>
              {{!-- /.card-body --}}
            </div>
            {{!-- /.card --}}
          </div>
          {{!-- /.col --}}
          <div class="col-md-3">
            <div class="card card-danger">
              <div class="card-header">
                <h3 class="card-title">Maximizable</h3>

                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="maximize"><i class="fas fa-expand"></i>
                  </button>
                </div>
                {{!-- /.card-tools --}}
              </div>
              {{!-- /.card-header --}}
              <div class="card-body">
                The body of the card
              </div>
              {{!-- /.card-body --}}
            </div>
            {{!-- /.card --}}
          </div>
          {{!-- /.col --}}
        </div>
        {{!-- /.row --}}

        <div class="row">
          <div class="col-md-3">
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Card Refresh</h3>

                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="card-refresh" data-source="widgets.html"
                    data-source-selector="#card-refresh-content"><i class="fas fa-sync-alt"></i></button>
                </div>
                {{!-- /.card-tools --}}
              </div>
              {{!-- /.card-header --}}
              <div class="card-body">
                The body of the card
              </div>
              {{!-- /.card-body --}}
            </div>
            {{!-- /.card --}}
            <div class="d-none" id="card-refresh-content">
              The body of the card after card refresh
            </div>
          </div>
          {{!-- /.col --}}
          <div class="col-md-3">
            <div class="card card-success">
              <div class="card-header">
                <h3 class="card-title">All together</h3>

                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="card-refresh" data-source="widgets.html"
                    data-source-selector="#card-refresh-content" data-load-on-init="false"><i
                      class="fas fa-sync-alt"></i></button>
                  <button type="button" class="btn btn-tool" data-card-widget="maximize"><i
                      class="fas fa-expand"></i></button>
                  <button type="button" class="btn btn-tool" data-card-widget="collapse"><i
                      class="fas fa-minus"></i></button>
                  <button type="button" class="btn btn-tool" data-card-widget="remove"><i
                      class="fas fa-times"></i></button>
                </div>
                {{!-- /.card-tools --}}
              </div>
              {{!-- /.card-header --}}
              <div class="card-body">
                The body of the card
              </div>
              {{!-- /.card-body --}}
            </div>
            {{!-- /.card --}}
          </div>
          {{!-- /.col --}}
          <div class="col-md-3">
            <div class="card card-warning">
              <div class="card-header">
                <h3 class="card-title">Loading state</h3>
              </div>
              <div class="card-body">
                The body of the card
              </div>
              {{!-- /.card-body --}}
              {{!-- Loading (remove the following to stop the loading)--}}
              <div class="overlay">
                <i class="fas fa-2x fa-sync-alt"></i>
              </div>
              {{!-- end loading --}}
            </div>
            {{!-- /.card --}}
          </div>
          {{!-- /.col --}}
          <div class="col-md-3">
            <div class="card card-danger">
              <div class="card-header">
                <h3 class="card-title">Loading state (dark)</h3>
              </div>
              <div class="card-body">
                The body of the card
              </div>
              {{!-- /.card-body --}}
              {{!-- Loading (remove the following to stop the loading)--}}
              <div class="overlay dark">
                <i class="fas fa-2x fa-sync-alt"></i>
              </div>
              {{!-- end loading --}}
            </div>
            {{!-- /.card --}}
          </div>
          {{!-- /.col --}}
        </div>
        {{!-- /.row --}}

        {{!-- =========================================================== --}}

        <h5 class="mb-2">Colors Variations</h5>

        <div class="row">
          <div class="col-md-3">
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Primary Outline</h3>

                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
                  </button>
                </div>
                {{!-- /.card-tools --}}
              </div>
              {{!-- /.card-header --}}
              <div class="card-body">
                The body of the card
              </div>
              {{!-- /.card-body --}}
            </div>
            {{!-- /.card --}}
          </div>
          {{!-- /.col --}}
          <div class="col-md-3">
            <div class="card card-success">
              <div class="card-header">
                <h3 class="card-title">Success Outline</h3>

                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-times"></i>
                  </button>
                </div>
                {{!-- /.card-tools --}}
              </div>
              {{!-- /.card-header --}}
              <div class="card-body">
                The body of the card
              </div>
              {{!-- /.card-body --}}
            </div>
            {{!-- /.card --}}
          </div>
          {{!-- /.col --}}
          <div class="col-md-3">
            <div class="card card-warning">
              <div class="card-header">
                <h3 class="card-title">Warning Outline</h3>

                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
                  </button>
                </div>
                {{!-- /.card-tools --}}
              </div>
              {{!-- /.card-header --}}
              <div class="card-body">
                The body of the card
              </div>
              {{!-- /.card-body --}}
            </div>
            {{!-- /.card --}}
          </div>
          {{!-- /.col --}}
          <div class="col-md-3">
            <div class="card card-danger">
              <div class="card-header">
                <h3 class="card-title">Danger Outline</h3>
              </div>
              <div class="card-body">
                The body of the card
              </div>
              {{!-- /.card-body --}}
            </div>
            {{!-- /.card --}}
          </div>
          {{!-- /.col --}}
        </div>
        {{!-- /.row --}}

        <div class="row">
          <div class="col-md-3">
            <div class="card card-outline card-primary">
              <div class="card-header">
                <h3 class="card-title">Primary Outline</h3>

                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
                  </button>
                </div>
                {{!-- /.card-tools --}}
              </div>
              {{!-- /.card-header --}}
              <div class="card-body">
                The body of the card
              </div>
              {{!-- /.card-body --}}
            </div>
            {{!-- /.card --}}
          </div>
          {{!-- /.col --}}
          <div class="col-md-3">
            <div class="card card-outline card-success">
              <div class="card-header">
                <h3 class="card-title">Success Outline</h3>

                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-times"></i>
                  </button>
                </div>
                {{!-- /.card-tools --}}
              </div>
              {{!-- /.card-header --}}
              <div class="card-body">
                The body of the card
              </div>
              {{!-- /.card-body --}}
            </div>
            {{!-- /.card --}}
          </div>
          {{!-- /.col --}}
          <div class="col-md-3">
            <div class="card card-outline card-warning">
              <div class="card-header">
                <h3 class="card-title">Warning Outline</h3>

                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
                  </button>
                </div>
                {{!-- /.card-tools --}}
              </div>
              {{!-- /.card-header --}}
              <div class="card-body">
                The body of the card
              </div>
              {{!-- /.card-body --}}
            </div>
            {{!-- /.card --}}
          </div>
          {{!-- /.col --}}
          <div class="col-md-3">
            <div class="card card-outline card-danger">
              <div class="card-header">
                <h3 class="card-title">Danger Outline</h3>
              </div>
              <div class="card-body">
                The body of the card
              </div>
              {{!-- /.card-body --}}
            </div>
            {{!-- /.card --}}
          </div>
          {{!-- /.col --}}
        </div>
        {{!-- /.row --}}

        <div class="row">
          <div class="col-md-3">
            <div class="card bg-primary">
              <div class="card-header">
                <h3 class="card-title">Primary</h3>

                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
                  </button>
                </div>
                {{!-- /.card-tools --}}
              </div>
              {{!-- /.card-header --}}
              <div class="card-body">
                The body of the card
              </div>
              {{!-- /.card-body --}}
            </div>
            {{!-- /.card --}}
          </div>
          {{!-- /.col --}}
          <div class="col-md-3">
            <div class="card bg-success">
              <div class="card-header">
                <h3 class="card-title">Success</h3>

                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-times"></i>
                  </button>
                </div>
                {{!-- /.card-tools --}}
              </div>
              {{!-- /.card-header --}}
              <div class="card-body">
                The body of the card
              </div>
              {{!-- /.card-body --}}
            </div>
            {{!-- /.card --}}
          </div>
          {{!-- /.col --}}
          <div class="col-md-3">
            <div class="card bg-warning">
              <div class="card-header">
                <h3 class="card-title">Warning</h3>

                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
                  </button>
                </div>
                {{!-- /.card-tools --}}
              </div>
              {{!-- /.card-header --}}
              <div class="card-body">
                The body of the card
              </div>
              {{!-- /.card-body --}}
            </div>
            {{!-- /.card --}}
          </div>
          {{!-- /.col --}}
          <div class="col-md-3">
            <div class="card bg-danger">
              <div class="card-header">
                <h3 class="card-title">Danger</h3>
              </div>
              <div class="card-body">
                The body of the card
              </div>
              {{!-- /.card-body --}}
            </div>
            {{!-- /.card --}}
          </div>
          {{!-- /.col --}}
        </div>
        {{!-- /.row --}}

        <div class="row">
          <div class="col-md-3">
            <div class="card bg-gradient-primary">
              <div class="card-header">
                <h3 class="card-title">Primary Gradient</h3>

                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
                  </button>
                </div>
                {{!-- /.card-tools --}}
              </div>
              {{!-- /.card-header --}}
              <div class="card-body">
                The body of the card
              </div>
              {{!-- /.card-body --}}
            </div>
            {{!-- /.card --}}
          </div>
          {{!-- /.col --}}
          <div class="col-md-3">
            <div class="card bg-gradient-success">
              <div class="card-header">
                <h3 class="card-title">Success Gradient</h3>

                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-times"></i>
                  </button>
                </div>
                {{!-- /.card-tools --}}
              </div>
              {{!-- /.card-header --}}
              <div class="card-body">
                The body of the card
              </div>
              {{!-- /.card-body --}}
            </div>
            {{!-- /.card --}}
          </div>
          {{!-- /.col --}}
          <div class="col-md-3">
            <div class="card bg-gradient-warning">
              <div class="card-header">
                <h3 class="card-title">Warning Gradient</h3>

                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
                  </button>
                </div>
                {{!-- /.card-tools --}}
              </div>
              {{!-- /.card-header --}}
              <div class="card-body">
                The body of the card
              </div>
              {{!-- /.card-body --}}
            </div>
            {{!-- /.card --}}
          </div>
          {{!-- /.col --}}
          <div class="col-md-3">
            <div class="card bg-gradient-danger">
              <div class="card-header">
                <h3 class="card-title">Danger Gradient</h3>
              </div>
              <div class="card-body">
                The body of the card
              </div>
              {{!-- /.card-body --}}
            </div>
            {{!-- /.card --}}
          </div>
          {{!-- /.col --}}
        </div>
        {{!-- /.row --}}

        {{!-- =========================================================== --}}

        {{!-- Direct Chat --}}
        <h4 class="mt-4 mb-2">Direct Chat</h4>
        <div class="row">
          <div class="col-md-3">
            {{!-- DIRECT CHAT PRIMARY --}}
            <div class="card card-prirary cardutline direct-chat direct-chat-primary">
              <div class="card-header">
                <h3 class="card-title">Direct Chat</h3>

                <div class="card-tools">
                  <span data-toggle="tooltip" title="3 New Messages" class="badge bg-primary">3</span>
                  <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
                  </button>
                  <button type="button" class="btn btn-tool" data-toggle="tooltip" title="Contacts"
                    data-widget="chat-pane-toggle">
                    <i class="fas fa-comments"></i></button>
                  <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-times"></i>
                  </button>
                </div>
              </div>
              {{!-- /.card-header --}}
              <div class="card-body">
                {{!-- Conversations are loaded here --}}
                <div class="direct-chat-messages">
                  {{!-- Message. Default to the left --}}
                  <div class="direct-chat-msg">
                    <div class="direct-chat-infos clearfix">
                      <span class="direct-chat-name float-left">Alexander Pierce</span>
                      <span class="direct-chat-timestamp float-right">23 Jan 2:00 pm</span>
                    </div>
                    {{!-- /.direct-chat-infos --}}
                    <img class="direct-chat-img" src="../dist/img/user1-128x128.jpg" alt="Message User">
                    {{!-- /.direct-chat-img --}}
                    <div class="direct-chat-text">
                      Is this template really for free? That's unbelievable!
                    </div>
                    {{!-- /.direct-chat-text --}}
                  </div>
                  {{!-- /.direct-chat-msg --}}

                  {{!-- Message to the right --}}
                  <div class="direct-chat-msg right">
                    <div class="direct-chat-infos clearfix">
                      <span class="direct-chat-name float-right">Sarah Bullock</span>
                      <span class="direct-chat-timestamp float-left">23 Jan 2:05 pm</span>
                    </div>
                    {{!-- /.direct-chat-infos --}}
                    <img class="direct-chat-img" src="../dist/img/user3-128x128.jpg" alt="Message User">
                    {{!-- /.direct-chat-img --}}
                    <div class="direct-chat-text">
                      You better believe it!
                    </div>
                    {{!-- /.direct-chat-text --}}
                  </div>
                  {{!-- /.direct-chat-msg --}}
                </div>
                {{!--/.direct-chat-messages--}}

                {{!-- Contacts are loaded here --}}
                <div class="direct-chat-contacts">
                  <ul class="contacts-list">
                    <li>
                      <a href="#">
                        <img class="contacts-list-img" src="../dist/img/user1-128x128.jpg" alt="Contact list">

                        <div class="contacts-list-info">
                          <span class="contacts-list-name">
                            Count Dracula
                            <small class="contacts-list-date float-right">2/28/2015</small>
                          </span>
                          <span class="contacts-list-msg">How have you been? I was...</span>
                        </div>
                        {{!-- /.contacts-list-info --}}
                      </a>
                    </li>
                    {{!-- End Contact Item --}}
                  </ul>
                  {{!-- /.contatcts-list --}}
                </div>
                {{!-- /.direct-chat-pane --}}
              </div>
              {{!-- /.card-body --}}
              <div class="card-footer">
                <form action="#" method="post">
                  <div class="input-group">
                    {{!-- template-lint-disable require-input-label --}}
                    <input type="text" name="message" placeholder="Type Message ..." class="form-control">
                    <span class="input-group-append">
                      <button type="submit" class="btn btn-primary">Send</button>
                    </span>
                  </div>
                </form>
              </div>
              {{!-- /.card-footer--}}
            </div>
            {{!--/.direct-chat --}}
          </div>
          {{!-- /.col --}}

          <div class="col-md-3">
            {{!-- DIRECT CHAT SUCCESS --}}
            <div class="card card-sucress cardutline direct-chat direct-chat-success">
              <div class="card-header">
                <h3 class="card-title">Direct Chat</h3>

                <div class="card-tools">
                  <span data-toggle="tooltip" title="3 New Messages" class="badge bg-success">3</span>
                  <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
                  </button>
                  <button type="button" class="btn btn-tool" data-toggle="tooltip" title="Contacts"
                    data-widget="chat-pane-toggle">
                    <i class="fas fa-comments"></i></button>
                  <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-times"></i>
                  </button>
                </div>
              </div>
              {{!-- /.card-header --}}
              <div class="card-body">
                {{!-- Conversations are loaded here --}}
                <div class="direct-chat-messages">
                  {{!-- Message. Default to the left --}}
                  <div class="direct-chat-msg">
                    <div class="direct-chat-infos clearfix">
                      <span class="direct-chat-name float-left">Alexander Pierce</span>
                      <span class="direct-chat-timestamp float-right">23 Jan 2:00 pm</span>
                    </div>
                    {{!-- /.direct-chat-infos --}}
                    <img class="direct-chat-img" src="../dist/img/user1-128x128.jpg" alt="User message">
                    {{!-- /.direct-chat-img --}}
                    <div class="direct-chat-text">
                      Is this template really for free? That's unbelievable!
                    </div>
                    {{!-- /.direct-chat-text --}}
                  </div>
                  {{!-- /.direct-chat-msg --}}

                  {{!-- Message to the right --}}
                  <div class="direct-chat-msg right">
                    <div class="direct-chat-infos clearfix">
                      <span class="direct-chat-name float-right">Sarah Bullock</span>
                      <span class="direct-chat-timestamp float-left">23 Jan 2:05 pm</span>
                    </div>
                    {{!-- /.direct-chat-infos --}}
                    <img class="direct-chat-img" src="../dist/img/user3-128x128.jpg" alt="User message">
                    {{!-- /.direct-chat-img --}}
                    <div class="direct-chat-text">
                      You better believe it!
                    </div>
                    {{!-- /.direct-chat-text --}}
                  </div>
                  {{!-- /.direct-chat-msg --}}
                </div>
                {{!--/.direct-chat-messages--}}

                {{!-- Contacts are loaded here --}}
                <div class="direct-chat-contacts">
                  <ul class="contacts-list">
                    <li>
                      <a href="#">
                        <img class="contacts-list-img" src="../dist/img/user1-128x128.jpg" alt="Contatct list">

                        <div class="contacts-list-info">
                          <span class="contacts-list-name">
                            Count Dracula
                            <small class="contacts-list-date float-right">2/28/2015</small>
                          </span>
                          <span class="contacts-list-msg">How have you been? I was...</span>
                        </div>
                        {{!-- /.contacts-list-info --}}
                      </a>
                    </li>
                    {{!-- End Contact Item --}}
                  </ul>
                  {{!-- /.contatcts-list --}}
                </div>
                {{!-- /.direct-chat-pane --}}
              </div>
              {{!-- /.card-body --}}
              <div class="card-footer">
                {{!-- template-lint-disable no-duplicate-landmark-elements --}}
                <form action="#" method="post">
                  <div class="input-group">
                    {{!-- template-lint-disable require-input-label --}}
                    <input type="text" name="message" placeholder="Type Message ..." class="form-control">
                    <span class="input-group-append">
                      <button type="submit" class="btn btn-success">Send</button>
                    </span>
                  </div>
                </form>
              </div>
              {{!-- /.card-footer--}}
            </div>
            {{!--/.direct-chat --}}
          </div>
          {{!-- /.col --}}

          <div class="col-md-3">
            {{!-- DIRECT CHAT WARNING --}}
            <div class="card card-warning direct-chat direct-chat-warning">
              <div class="card-header">
                <h3 class="card-title">Direct Chat</h3>

                <div class="card-tools">
                  <span data-toggle="tooltip" title="3 New Messages" class="badge bg-danger">3</span>
                  <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
                  </button>
                  <button type="button" class="btn btn-tool" data-toggle="tooltip" title="Contacts"
                    data-widget="chat-pane-toggle">
                    <i class="fas fa-comments"></i></button>
                  <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-times"></i>
                  </button>
                </div>
              </div>
              {{!-- /.card-header --}}
              <div class="card-body">
                {{!-- Conversations are loaded here --}}
                <div class="direct-chat-messages">
                  {{!-- Message. Default to the left --}}
                  <div class="direct-chat-msg">
                    <div class="direct-chat-infos clearfix">
                      <span class="direct-chat-name float-left">Alexander Pierce</span>
                      <span class="direct-chat-timestamp float-right">23 Jan 2:00 pm</span>
                    </div>
                    {{!-- /.direct-chat-infos --}}
                    <img class="direct-chat-img" src="../dist/img/user1-128x128.jpg" alt="Message User">
                    {{!-- /.direct-chat-img --}}
                    <div class="direct-chat-text">
                      Is this template really for free? That's unbelievable!
                    </div>
                    {{!-- /.direct-chat-text --}}
                  </div>
                  {{!-- /.direct-chat-msg --}}

                  {{!-- Message to the right --}}
                  <div class="direct-chat-msg right">
                    <div class="direct-chat-infos clearfix">
                      <span class="direct-chat-name float-right">Sarah Bullock</span>
                      <span class="direct-chat-timestamp float-left">23 Jan 2:05 pm</span>
                    </div>
                    {{!-- /.direct-chat-infos --}}
                    <img class="direct-chat-img" src="../dist/img/user3-128x128.jpg" alt="Message User">
                    {{!-- /.direct-chat-img --}}
                    <div class="direct-chat-text">
                      You better believe it!
                    </div>
                    {{!-- /.direct-chat-text --}}
                  </div>
                  {{!-- /.direct-chat-msg --}}
                </div>
                {{!--/.direct-chat-messages--}}

                {{!-- Contacts are loaded here --}}
                <div class="direct-chat-contacts">
                  <ul class="contacts-list">
                    <li>
                      <a href="#">
                        <img class="contacts-list-img" src="../dist/img/user1-128x128.jpg" alt="Contact list">

                        <div class="contacts-list-info">
                          <span class="contacts-list-name">
                            Count Dracula
                            <small class="contacts-list-date float-right">2/28/2015</small>
                          </span>
                          <span class="contacts-list-msg">How have you been? I was...</span>
                        </div>
                        {{!-- /.contacts-list-info --}}
                      </a>
                    </li>
                    {{!-- End Contact Item --}}
                  </ul>
                  {{!-- /.contatcts-list --}}
                </div>
                {{!-- /.direct-chat-pane --}}
              </div>
              {{!-- /.card-body --}}
              <div class="card-footer">
                {{!-- template-lint-disable no-duplicate-landmark-elements --}}
                <form action="#" method="post">
                  {{!-- template-lint-disable require-input-label --}}
                  <div class="input-group">
                    <input type="text" name="message" placeholder="Type Message ..." class="form-control">
                    <span class="input-group-append">
                      <button type="submit" class="btn btn-warning">Send</button>
                    </span>
                  </div>
                </form>
              </div>
              {{!-- /.card-footer--}}
            </div>
            {{!--/.direct-chat --}}
          </div>
          {{!-- /.col --}}

          <div class="col-md-3">
            {{!-- DIRECT CHAT DANGER --}}
            <div class="card card-danger direct-chat direct-chat-danger">
              <div class="card-header">
                <h3 class="card-title">Direct Chat</h3>

                <div class="card-tools">
                  <span data-toggle="tooltip" title="3 New Messages" class="badge">3</span>
                  <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
                  </button>
                  <button type="button" class="btn btn-tool" data-toggle="tooltip" title="Contacts"
                    data-widget="chat-pane-toggle">
                    <i class="fas fa-comments"></i></button>
                  <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-times"></i>
                  </button>
                </div>
              </div>
              {{!-- /.card-header --}}
              <div class="card-body">
                {{!-- Conversations are loaded here --}}
                <div class="direct-chat-messages">
                  {{!-- Message. Default to the left --}}
                  <div class="direct-chat-msg">
                    <div class="direct-chat-infos clearfix">
                      <span class="direct-chat-name float-left">Alexander Pierce</span>
                      <span class="direct-chat-timestamp float-right">23 Jan 2:00 pm</span>
                    </div>
                    {{!-- /.direct-chat-infos --}}
                    <img class="direct-chat-img" src="../dist/img/user1-128x128.jpg" alt="Message User">
                    {{!-- /.direct-chat-img --}}
                    <div class="direct-chat-text">
                      Is this template really for free? That's unbelievable!
                    </div>
                    {{!-- /.direct-chat-text --}}
                  </div>
                  {{!-- /.direct-chat-msg --}}

                  {{!-- Message to the right --}}
                  <div class="direct-chat-msg right">
                    <div class="direct-chat-infos clearfix">
                      <span class="direct-chat-name float-right">Sarah Bullock</span>
                      <span class="direct-chat-timestamp float-left">23 Jan 2:05 pm</span>
                    </div>
                    {{!-- /.direct-chat-infos --}}
                    <img class="direct-chat-img" src="../dist/img/user3-128x128.jpg" alt="Message User">
                    {{!-- /.direct-chat-img --}}
                    <div class="direct-chat-text">
                      You better believe it!
                    </div>
                    {{!-- /.direct-chat-text --}}
                  </div>
                  {{!-- /.direct-chat-msg --}}
                </div>
                {{!--/.direct-chat-messages--}}

                {{!-- Contacts are loaded here --}}
                <div class="direct-chat-contacts">
                  <ul class="contacts-list">
                    <li>
                      <a href="#">
                        <img class="contacts-list-img" src="../dist/img/user1-128x128.jpg" alt="Contact list">

                        <div class="contacts-list-info">
                          <span class="contacts-list-name">
                            Count Dracula
                            <small class="contacts-list-date float-right">2/28/2015</small>
                          </span>
                          <span class="contacts-list-msg">How have you been? I was...</span>
                        </div>
                        {{!-- /.contacts-list-info --}}
                      </a>
                    </li>
                    {{!-- End Contact Item --}}
                  </ul>
                  {{!-- /.contatcts-list --}}
                </div>
                {{!-- /.direct-chat-pane --}}
              </div>
              {{!-- /.card-body --}}
              <div class="card-footer">
                {{!-- template-lint-disable no-duplicate-landmark-elements --}}
                <form action="#" method="post">
                  <div class="input-group">
                    {{!-- template-lint-disable require-input-label --}}
                    <input type="text" name="message" placeholder="Type Message ..." class="form-control">
                    <span class="input-group-append">
                      <button type="submit" class="btn btn-danger">Send</button>
                    </span>
                  </div>
                </form>
              </div>
              {{!-- /.card-footer--}}
            </div>
            {{!--/.direct-chat --}}
          </div>
          {{!-- /.col --}}
        </div>
        {{!-- /.row --}}

        <h3 class="mt-4 mb-4">Social Widgets</h3>

        <div class="row">
          <div class="col-md-4">
            {{!-- Widget: user widget style 2 --}}
            <div class="card card-widget widget-user-2">
              {{!-- Add the bg color to the header using any of the bg-* classes --}}
              <div class="widget-user-header bg-warning">
                <div class="widget-user-image">
                  <img class="img-circle elevation-2" src="../dist/img/user7-128x128.jpg" alt="User Avatar">
                </div>
                {{!-- /.widget-user-image --}}
                <h3 class="widget-user-username">Nadia Carmichael</h3>
                <h5 class="widget-user-desc">Lead Developer</h5>
              </div>
              <div class="card-footer p-0">
                <ul class="nav flex-column">
                  <li class="nav-item">
                    <a href="#" class="nav-link">
                      Projects <span class="float-right badge bg-primary">31</span>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="#" class="nav-link">
                      Tasks <span class="float-right badge bg-info">5</span>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="#" class="nav-link">
                      Completed Projects <span class="float-right badge bg-success">12</span>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="#" class="nav-link">
                      Followers <span class="float-right badge bg-danger">842</span>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            {{!-- /.widget-user --}}
          </div>
          {{!-- /.col --}}
          <div class="col-md-4">
            {{!-- Widget: user widget style 1 --}}
            <div class="card card-widget widget-user">
              {{!-- Add the bg color to the header using any of the bg-* classes --}}
              <div class="widget-user-header bg-info">
                <h3 class="widget-user-username">Alexander Pierce</h3>
                <h5 class="widget-user-desc">Founder & CEO</h5>
              </div>
              <div class="widget-user-image">
                <img class="img-circle elevation-2" src="../dist/img/user1-128x128.jpg" alt="User Avatar">
              </div>
              <div class="card-footer">
                <div class="row">
                  <div class="col-sm-4 border-right">
                    <div class="description-block">
                      <h5 class="description-header">3,200</h5>
                      <span class="description-text">SALES</span>
                    </div>
                    {{!-- /.description-block --}}
                  </div>
                  {{!-- /.col --}}
                  <div class="col-sm-4 border-right">
                    <div class="description-block">
                      <h5 class="description-header">13,000</h5>
                      <span class="description-text">FOLLOWERS</span>
                    </div>
                    {{!-- /.description-block --}}
                  </div>
                  {{!-- /.col --}}
                  <div class="col-sm-4">
                    <div class="description-block">
                      <h5 class="description-header">35</h5>
                      <span class="description-text">PRODUCTS</span>
                    </div>
                    {{!-- /.description-block --}}
                  </div>
                  {{!-- /.col --}}
                </div>
                {{!-- /.row --}}
              </div>
            </div>
            {{!-- /.widget-user --}}
          </div>
          {{!-- /.col --}}
          <div class="col-md-4">
            {{!-- Widget: user widget style 1 --}}
            <div class="card card-widget widget-user">
              {{!-- Add the bg color to the header using any of the bg-* classes --}}
              {{!-- template-lint-disable no-inline-styles --}}
              <div class="widget-user-header text-white"
                style="background: url('../dist/img/photo1.png') center center;">
                <h3 class="widget-user-username text-right">Elizabeth Pierce</h3>
                <h5 class="widget-user-desc text-right">Web Designer</h5>
              </div>
              <div class="widget-user-image">
                <img class="img-circle" src="../dist/img/user3-128x128.jpg" alt="User Avatar">
              </div>
              <div class="card-footer">
                <div class="row">
                  <div class="col-sm-4 border-right">
                    <div class="description-block">
                      <h5 class="description-header">3,200</h5>
                      <span class="description-text">SALES</span>
                    </div>
                    {{!-- /.description-block --}}
                  </div>
                  {{!-- /.col --}}
                  <div class="col-sm-4 border-right">
                    <div class="description-block">
                      <h5 class="description-header">13,000</h5>
                      <span class="description-text">FOLLOWERS</span>
                    </div>
                    {{!-- /.description-block --}}
                  </div>
                  {{!-- /.col --}}
                  <div class="col-sm-4">
                    <div class="description-block">
                      <h5 class="description-header">35</h5>
                      <span class="description-text">PRODUCTS</span>
                    </div>
                    {{!-- /.description-block --}}
                  </div>
                  {{!-- /.col --}}
                </div>
                {{!-- /.row --}}
              </div>
            </div>
            {{!-- /.widget-user --}}
          </div>
          {{!-- /.col --}}
        </div>
        {{!-- /.row --}}

        <div class="row">
          <div class="col-md-6">
            {{!-- Box Comment --}}
            <div class="card card-widget">
              <div class="card-header">
                <div class="user-block">
                  <img class="img-circle" src="../dist/img/user1-128x128.jpg" alt="User">
                  <span class="username"><a href="#">Jonathan Burke Jr.</a></span>
                  <span class="description">Shared publicly - 7:30 PM Today</span>
                </div>
                {{!-- /.user-block --}}
                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-toggle="tooltip" title="Mark as read">
                    <i class="far fa-circle"></i></button>
                  <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
                  </button>
                  <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-times"></i>
                  </button>
                </div>
                {{!-- /.card-tools --}}
              </div>
              {{!-- /.card-header --}}
              <div class="card-body">
                <img class="img-fluid pad" src="../dist/img/photo2.png" alt="User">

                <p>I took this photo this morning. What do you guys think?</p>
                <button type="button" class="btn btn-default btn-sm"><i class="fas fa-share"></i> Share</button>
                <button type="button" class="btn btn-default btn-sm"><i class="far fa-thumbs-up"></i> Like</button>
                <span class="float-right text-muted">127 likes - 3 comments</span>
              </div>
              {{!-- /.card-body --}}
              <div class="card-footer card-comments">
                <div class="card-comment">
                  {{!-- User image --}}
                  <img class="img-circle img-sm" src="../dist/img/user3-128x128.jpg" alt="User">

                  <div class="comment-text">
                    <span class="username">
                      Maria Gonzales
                      <span class="text-muted float-right">8:03 PM Today</span>
                    </span>{{!-- /.username --}}
                    It is a long established fact that a reader will be distracted
                    by the readable content of a page when looking at its layout.
                  </div>
                  {{!-- /.comment-text --}}
                </div>
                {{!-- /.card-comment --}}
                <div class="card-comment">
                  {{!-- User image --}}
                  <img class="img-circle img-sm" src="../dist/img/user4-128x128.jpg" alt="User">

                  <div class="comment-text">
                    <span class="username">
                      Luna Stark
                      <span class="text-muted float-right">8:03 PM Today</span>
                    </span>{{!-- /.username --}}
                    It is a long established fact that a reader will be distracted
                    by the readable content of a page when looking at its layout.
                  </div>
                  {{!-- /.comment-text --}}
                </div>
                {{!-- /.card-comment --}}
              </div>
              {{!-- /.card-footer --}}
              <div class="card-footer">
                {{!-- template-lint-disable no-duplicate-landmark-elements --}}
                <form action="#" method="post">
                  <img class="img-fluid img-circle img-sm" src="../dist/img/user4-128x128.jpg" alt="Alt Text">
                  {{!-- .img-push is used to add margin to elements next to floating images --}}
                  <div class="img-push">
                    {{!-- template-lint-disable require-input-label --}}
                    <input type="text" class="form-control form-control-sm" placeholder="Press enter to post comment">
                  </div>
                </form>
              </div>
              {{!-- /.card-footer --}}
            </div>
            {{!-- /.card --}}
          </div>
          {{!-- /.col --}}
          <div class="col-md-6">
            {{!-- Box Comment --}}
            <div class="card card-widget">
              <div class="card-header">
                <div class="user-block">
                  <img class="img-circle" src="../dist/img/user1-128x128.jpg" alt="User">
                  <span class="username"><a href="#">Jonathan Burke Jr.</a></span>
                  <span class="description">Shared publicly - 7:30 PM Today</span>
                </div>
                {{!-- /.user-block --}}
                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-toggle="tooltip" title="Mark as read">
                    <i class="far fa-circle"></i></button>
                  <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
                  </button>
                  <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-times"></i>
                  </button>
                </div>
                {{!-- /.card-tools --}}
              </div>
              {{!-- /.card-header --}}
              <div class="card-body">
                {{!-- post text --}}
                <p>Far far away, behind the word mountains, far from the
                  countries Vokalia and Consonantia, there live the blind
                  texts. Separated they live in Bookmarksgrove right at</p>

                <p>the coast of the Semantics, a large language ocean.
                  A small river named Duden flows by their place and supplies
                  it with the necessary regelialia. It is a paradisematic
                  country, in which roasted parts of sentences fly into
                  your mouth.</p>

                {{!-- Attachment --}}
                <div class="attachment-block clearfix">
                  <img class="attachment-img" src="../dist/img/photo1.png" alt="Attachment">

                  <div class="attachment-pushed">
                    <h4 class="attachment-heading"><a href="http://www.lipsum.com/">Lorem ipsum text generator</a></h4>

                    <div class="attachment-text">
                      Description about the attachment can be placed here.
                      Lorem Ipsum is simply dummy text of the printing and typesetting industry... {{!-- template-lint-disable no-invalid-link-text --}}
                                                                                                   <a href="#">more</a>
                    </div>
                    {{!-- /.attachment-text --}}
                  </div>
                  {{!-- /.attachment-pushed --}}
                </div>
                {{!-- /.attachment-block --}}

                {{!-- Social sharing buttons --}}
                <button type="button" class="btn btn-default btn-sm"><i class="fas fa-share"></i> Share</button>
                <button type="button" class="btn btn-default btn-sm"><i class="far fa-thumbs-up"></i> Like</button>
                <span class="float-right text-muted">45 likes - 2 comments</span>
              </div>
              {{!-- /.card-body --}}
              <div class="card-footer card-comments">
                <div class="card-comment">
                  {{!-- User image --}}
                  <img class="img-circle img-sm" src="../dist/img/user3-128x128.jpg" alt="User">

                  <div class="comment-text">
                    <span class="username">
                      Maria Gonzales
                      <span class="text-muted float-right">8:03 PM Today</span>
                    </span>{{!-- /.username --}}
                    It is a long established fact that a reader will be distracted
                    by the readable content of a page when looking at its layout.
                  </div>
                  {{!-- /.comment-text --}}
                </div>
                {{!-- /.card-comment --}}
                <div class="card-comment">
                  {{!-- User image --}}
                  <img class="img-circle img-sm" src="../dist/img/user5-128x128.jpg" alt="User">

                  <div class="comment-text">
                    <span class="username">
                      Nora Havisham
                      <span class="text-muted float-right">8:03 PM Today</span>
                    </span>{{!-- /.username --}}
                    The point of using Lorem Ipsum is that it hrs a morer-less
                    normal distribution of letters, as opposed to using
                    'Content here, content here', making it look like readable English.
                  </div>
                  {{!-- /.comment-text --}}
                </div>
                {{!-- /.card-comment --}}
              </div>
              {{!-- /.card-footer --}}
              <div class="card-footer">
                {{!-- template-lint-disable no-duplicate-landmark-elements --}}
                <form action="#" method="post">
                  <img class="img-fluid img-circle img-sm" src="../dist/img/user4-128x128.jpg" alt="Alt Text">
                  {{!-- .img-push is used to add margin to elements next to floating images --}}
                  <div class="img-push">
                    {{!-- template-lint-disable require-input-label --}}
                    <input type="text" class="form-control form-control-sm" placeholder="Press enter to post comment">
                  </div>
                </form>
              </div>
              {{!-- /.card-footer --}}
            </div>
            {{!-- /.card --}}
          </div>
          {{!-- /.col --}}
        </div>
        {{!-- /.row --}}
      </div>
    </section>

    <a id="back-to-top" href="#" class="btn btn-primary back-to-top" role="button" aria-label="Scroll to top">
      <i class="fas fa-chevron-up"></i>
    </a>
  </div>

  <footer class="main-footer">
    <div class="float-right d-none d-sm-block">
      <b>Version</b> 3.0.5
    </div>
    <strong>Copyright &copy; 2014-2019 <a href="http://adminlte.io">AdminLTE.io</a>.</strong> All rights
    reserved.
  </footer>

  {{!-- Control Sidebar --}}
  <aside class="control-sidebar control-sidebar-dark">
    {{!-- Control sidebar content goes here --}}
  </aside>
  {{!-- /.control-sidebar --}}
</Alte::Layout>
