<div ...attributes class="card {{if @type (concat " card-" @type)}}">
  {{yield (hash
    header = (component 'alte/card/header' collapsable=this.collapsable collapsed=@collapsed onCollapse=@onCollapse)
    content = (component 'alte/card/content' collapsable=this.collapsable collapsed=@collapsed)
  )}}
  {{#if @loading}}
    <div class="overlay">
      <LoadingSpinner @size="4x" />
    </div>
  {{/if}}
</div>
