<section class="content-header">
  <div class="{{this.container}}">
    <div class="row mb-2">
      <div class="col-sm-6">
        {{#if @title}}
        <h1 class="m-0">{{@title}}</h1>
        {{else if (has-block "title")}}
        <h1 class="m-0">{{yield to="title"}}</h1>
        {{/if}}
      </div>
      {{#if (has-block "rightContent")}}
      <div class="col-sm-6">{{yield to="rightContent"}}</div>
      {{/if}}
    </div>
  </div>
</section>
